.work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 950px;
  min-height: 1500px;
  background-image: url("../../assets/images/icyCracks.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#giving-container {
  margin: 27px;
}

#journal-container {
  margin: 27px;
}

#brews-container {
  margin: 27px;
}
