/* About Me 
---------------------*/
@media (max-width: 991px) {
  .about-text {
    margin-top: 40px;
  }
}

.section {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
}
.about-text h3 {
  /* display: flex;
  align-items: center; */
  display: flex;
  flex-direction: column;
  /* margin: 14px 0 24px 0; */
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 250;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}

h3 {
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

p {
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.about-text h4 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h4 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 24px;
}

.about-text .btn-bar {
  padding-top: 8px;
}
.about-text .btn-bar a {
  min-width: 150px;
  text-align: center;
  margin-right: 10px;
}

.about-img {
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.06);
  padding: 10px;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .about-img {
    margin-top: 30px;
  }
}

/* .counter-section {
  padding: 40px 20px;
} */
/* .counter-section .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
} */
/* .counter-section .count {
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 10px;
} */
/* .counter-section p {
  font-weight: 500;
  margin: 0;
  color: #fe4f6c;
} */
.theme-color {
  color: #fe4f6c;
}

.section {
  padding: 100px 0;
  position: fixed;
}
.gray-bg {
  background-color: #ebf4fa;
}
.px-btn.theme {
  background: #fe4f6c;
  color: #ffffff;
  border: 2px solid #fe4f6c;
}
.px-btn {
  padding: 0 20px;
  line-height: 42px;
  border: 2px solid transparent;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

.px-btn.theme-t {
  background: transparent;
  border: 2px solid #fe4f6c;
  color: #fe4f6c;
}

#about {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */

  /* min-width: 1024px; */

  /* Set up proportionate scaling */
  min-width: 100%;
  min-height: 100%;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../../assets/images/icyCracks.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (max-height: 600px) {
  #about {
    padding: 5px;
    margin-top: 35px;
  }
  .about-text h3 {
    -webkit-text-stroke: 0.5px black;
    color: white;
    font-size: 30px !important;
  }
}
@media (max-width: 540px) {
  .about-img {
    display: none;
  }
  #about {
    padding: -10px;
  }
}
@media (max-width: 376px) {
  .about-img {
    display: none;
  }
  .about-text h3 {
    -webkit-text-stroke: 0.5px black;
    color: white;
    font-size: 25px !important;
  }
  #about {
    display: flex;
    top: -25px;
    bottom: 200px;
    flex-direction: column;
    padding: -10px 0 0 0;
    margin-top: 30px;
  }
}
@media (max-width: 365px) {
  .about-img {
    display: none;
  }
  .about-text h3 {
    -webkit-text-stroke: 0.5px black;
    color: white;
    font-size: 25px !important;
  }
  #about {
    display: flex;
    top: -25px;
    bottom: 200px;
    flex-direction: column;
    padding: -10px 0 0 0;
    margin-top: 30px;
  }
}
@media (max-width: 282px) {
  .about-img {
    display: none;
  }
  .about-text p {
    font-size: 20px;
  }
  .about-text h3 {
    -webkit-text-stroke: 0.5px black;
    color: white;
    font-size: 25px !important;
  }
  #about {
    max-width: 100%;
    max-height: fit-content;
    top: -66px;
    bottom: 300px;
    flex-direction: column;
    padding: -10px 0 0 0;
    margin-top: -15px;
  }
}
