.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url("../../assets/Home/bg.jpg");
}
@supports (-webkit-text-stroke: 1px black) {
  h1 {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
  }
}

span {
  -webkit-text-stroke: 0.25px rgba(0, 0, 0, 0.301);
  -webkit-text-fill-color: rgb(226, 44, 7);
}

.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}

.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}

.profile-details-role h1 {
  font-size: 40px;
}

.primary-text {
  color: (--white);
}

.highlighted-text {
  color: var(--dark-orange);
}

.profile-role-tagline {
  font-size: 19px;
  font-weight: bolder;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
}

.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}
